/* _content/Component.Investment.Business/Component1.razor.rz.scp.css */
.my-component[b-8rybl73vbs] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
